<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    ¡Hola! Soy <b>José Luis</b>, aunque muchos me conocen como <b>Chelu</b>. Soy un apasionado <b>desarrollador y programador web</b>, en pleno crecimiento y evolución dentro de este increíble mundo digital.
  </p>

  <p>
    Mi historia en la informática comenzó como una respuesta a una crisis personal, agravada por la situación global provocada por el COVID. Lo que en un principio fue un cambio de rumbo para encontrar estabilidad, terminó convirtiéndose en <b>mi verdadera pasión</b>.
  </p>

  <p>
    Empecé estudiando <b>Administración y Dirección de Empresas (ADE)</b> en la UIB durante 3 años, pero en el inicio del tercero me di cuenta de que no era el camino que realmente quería seguir. La falta de motivación, los cambios sociales y la sensación de no haber aprendido nada me llevaron a replantearlo todo.
  </p>

  <p>
    Fue entonces cuando decidí dar el salto a una <b>Formación Profesional Superior en Desarrollo de Aplicaciones Web (DAW)</b>, y desde ese momento, la programación se convirtió en el motor que impulsa mi aprendizaje diario.
  </p>
  <p>
    Ahora, como <b>desarrollador web junior</b>, estoy enfocado en seguir aprendiendo, perfeccionar mi forma de trabajo y enfrentar cada nuevo desafío que se me presente, ya sea una tecnología desconocida, un entorno completamente diferente o el objetivo final de un proyecto.
  </p>
  </div>
</article>
