<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Mi nombre es José Luis. Empecé con el mundo de la programación en 2022, cuando decidí cambiar el rumbo académico de la universidad a una Formación Profesional
  </p>
  <p>
    Actualmente, no he realizado grandes proyectos en el mundo informático, debido a que ejercí como Analista Funcional, dejando de lado la programación y aprendiendo mucho sobre la lógica de negocio
  </p>
  </div>
</article>
